* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.inline {
    display: inline;
}

a {
    text-decoration: none;
}

.block {
    display: block;
}

.grey {
    color: rgb(113, 128, 149);
}

body {
    font-family: sans Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 70px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    background-color: white;
    z-index: 999;
}

 .left-button > ul{
    display: flex;
    align-items: center;
}

.left-button > ul > li {
    padding: 0 10px;

}

.left-button > span {
    padding: 15px 15px;
}

.right-button > ul{
    display: flex;
    align-items: center;
}

.right-button > ul > li {
    padding: 0 12px;

}

.right-button > span {
    padding: 15px 15px;
}

.right-sup > span {
    padding:15px 15px ;
}

/* .blue-button {
    background-color: rgb(27, 50, 255);
    height: 12px;
    color: white;
} */

.container {
    margin: 0 auto;
}

.container.jumbo {
    padding-top: 59px;
    background-color: rgb(175, 208, 234);
    height: 688px;
}

.row {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
}

.wrap {
    flex-wrap: wrap;
}

.title-jumbo {
    font-size: 63px;
    padding-bottom: 55px;
    padding-top: 57px;
}

.col-65 {
    width: 65%;
}

.col-35 {
    width: 35%;
}

.col-30 {
    width: 30%;
    min-height: 300px;/* DEBUG RULE */
}


.p-jumbo {
    font-size: 17px;
    padding-bottom: 35px;
}

.button {
    background-color: rgb(27, 50, 255);
    color: white;
    padding: 10px 10px;
}

.button + .annulla {
    padding-top: 35px;
    padding-bottom: 111px;
}

.fa-arrow-down {
    font-size: 38px;
}

.img-jumbo {
    filter: drop-shadow(4px 4px 4px rgb(78, 76, 76));
}

.title-plans {
    padding-top: 90px;
    font-size: 40px;
}

.container.plans {
    max-width: 1000px;
}

.plan {
    margin: 33px 13px;
}

.radio-button {
    font-size: 17px;
    margin-top: 55px;
}

.plan-title {
    text-align: center;
    display: inherit;
    border: 1px solid rgb(213, 213, 216);
    font-size: 17px;
    padding: 8px;
}

input[type="radio"] {
    margin: 0 10px;
    transform: scale(1.4);
}

.plan {
    border: 1px solid rgb(213, 213, 216);
}

.plan-type,
.price,
.duration {
    margin: 20px 13px;
}

.plan  i {
    margin: 0 0 0 13px;
    font-size: 14px;
}